*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.content-wrapper {
    display: flex;
    padding: 40px;
    gap: 2%;
}

.lhs {
    flex: 1;
}

.grid {
    flex: 1;
    flex-grow: 2;
    aspect-ratio: 1 / 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.rhs {
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

.grid-square {
    flex: 1;
    background-color: white;
}

/* .hovered {
    background-color: rgb(168, 182, 247);
} */