*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 50vw;
    flex: 1;
    aspect-ratio: 1/1;
}

.row {
    display: flex;
    flex: 1;
}

.grid-square {
    flex: 1;
    background-color: rgb(187, 187, 238);
}